In [4]:
my_list = [] # create an empty list

len(my_list) # size of your list

my_list.extend([4,2,6,8]) # add 4, 2, 6 and 8 in your list

len(my_list)

my_list[0] = 12 #  change first element

my_list

[12, 2, 6, 8]

In [5]:
for element in my_list:
    print(element)

12
2
6
8

In [13]:
age_list = [42,38,14,25]
name_list = ["Martin", "Dorianne", "Justine", "Pierre"]

# for i in range(len(age_list)):
#     print(f"{name_list[i]} is {age_list[i]} y.o.")

# for i, age in enumerate(age_list):
#     print(f"{name_list[i]} is {age} y.o.")

for age, name in zip(age_list, name_list):
    print(f"{name} is {age} y.o.")
    
# from itertools import product

# # Get every possibilty between the two lists
# for age, name in product(age_list, name_list):
#     print(f"{name} is {age} y.o.")

Martin is 42 y.o.
Dorianne is 38 y.o.
Justine is 14 y.o.
Pierre is 25 y.o.

In [15]:
age = 22

if age > 18:
    print("majeur")
elif age < 24:
    print("mineur")
# else:
#     print("passe ton bac")

majeur

In [16]:
if age > 18:
    print("majeur")
if age < 24:
    print("mineur")

majeur
mineur

In [19]:
if age == 18:
    print("You are 18")
    
if age != 18:
    print("You are not 18")
    
nationality = "French"
if age == 18 and nationality == "French":
    print("You are 18 and french")
    
if age == 18 or nationality == "French":
    print("You are 18 or french")

You are not 18
You are 18 or french

### Fizz buzz

For every number form 0 to 100 print :

* fizz if it's divisible by 3
* buzz if it's divisible by 5
* bazz if it's divisble by 3 and 5
* else print the number


We'll get 

bazz

1

2

fizz

4

buzz

...

In [18]:
# check if 8 is divisible by 4
9 % 4 == 0 # check if it's equal to zero

1

In [24]:
for i in range(100):
    if i % 15 == 0:
        print("bazz")
    elif i % 3 == 0:
        print("fizz")
    elif i % 5 == 0:
        print("buzz")
    else:
        print(i)

bazz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
bazz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
bazz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
bazz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
bazz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
bazz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
bazz
91
92
fizz
94
buzz
fizz
97
98
fizz

### Bubble sort

Sort elements in a list by comparing each element to the following one and changing their order if needed.

In [31]:
my_list = [4,3,9,4,1,7,0]

for i in range(len(my_list)-1):
    if my_list[i] > my_list[i+1]:
        my_list[i], my_list[i+1] = my_list[i+1], my_list[i]

print(my_list)

[3, 4, 4, 1, 7, 0, 9]

In [ ]:
a = 2
b = 4

a, b = 2, 4

In [32]:
name = input("What's your name ?")

What's your name ?Mikhail

In [33]:
print(name)

Mikhail

In [37]:
age = int(input("How old are you ?"))

How old are you ?24

In [38]:
print(age + 1)

25

### Dichotomy search

* The computer generates a random number between 0 and 100
* Then the user make a proposition to guess the number
* If the proposition is too big, the computer prints "too big" and the
   user can make another propsition
* If the propostion is too small the computer prints "too small" and the
   user can make another propsition
* Else the computer print "You won"

In [39]:
i = 0
while i < 10:
    i += 1
    print(i)
    if i > 5:
        break

1
2
3
4
5
6

In [41]:
i = 0
while i < 10:
    i += 1
    if i == 5:
        continue
    print(i) # we won't execute this if i == 5

1
2
3
4
6
7
8
9
10

### Dichotomy search

* The computer generates a random number between 0 and 100
* Then the user make a proposition to guess the number
* If the proposition is too big, the computer prints "too big" and the
   user can make another propsition
* If the propostion is too small the computer prints "too small" and the
   user can make another propsition
* Else the computer print "You won"

In [51]:
from random import randint

number_to_guess = randint(0, 100)

proposition = int(input("Guess the number"))

while proposition != number_to_guess:
    if proposition > number_to_guess:
        print("Too big")
    elif proposition < number_to_guess:
        print("Too small")
    proposition = int(input("Guess the number"))

print("You won")

Guess the number50
Too big
Guess the number25
Too big
Guess the number17
Too small
Guess the number20
Too small
Guess the number22
You won

### Functions

In [52]:
def addition(a, b):
    return a + b

resultat = addition(2, 4)
print(resultat)

6

In [54]:
def exchange_first_and_second(list_input):
    list_input[0], list_input[1] = list_input[1], list_input[0]
    
my_list = [1,5,3,6]
exchange_first_and_second(my_list)
print(my_list)

[5, 1, 3, 6]

In [57]:
def say_hello():
    print("hello world")
    
say_hello # nothing happen with no parenthesis
say_hello() # we need parenthesis to call the function

hello world

In [70]:
def greetings(name, age=32, city="Paris"):
    print(f"Hello {name}. You are {age} y.o. And you live in {city}")

def greetings_with_no_default_param(name, age):
    print(f"Hello {name}. You are {age} y.o.")

In [72]:
greetings("Justine")
greetings("Justine", 42)
greetings("Justine", "Paris") # Paris is going to be the age parameter here
greetings("Oliver", city="London")

# greetings_with_no_default_param("Justine") # Does not work because we need two params

Hello Justine. You are 32 y.o. And you live in Paris
Hello Justine. You are 42 y.o. And you live in Paris
Hello Justine. You are Paris y.o. And you live in Paris
Hello Oliver. You are 32 y.o. And you live in London

In [73]:
def mean(list_input, number_of_elements=None):
    """
        returns the average of elements in the list
        if number_of_elements is not None,
        returns the average of the n-th first elements
        
        :Example:
        >>> mean([2,4,5], 2)
        3
    """

In [90]:
def merge(array1, array2):
    """
        returns a sorted array containing
        all elements from array1 and array2
        :example:
        >>> merge([2,3,5], [0,7,8])
        [0,2,3,5,7,8]
    """
    i = 0
    j = 0
    result = []
    while i < len(array1) and j < len(array2):
        if array1[i] < array2[j]:
            result.append(array1[i])
            i += 1
        else:
            result.append(array2[j])
            j += 1
    # add remaining elements from array1 or array2
    result.extend(array1[i:])
    result.extend(array2[j:])
    return result

merge([2,4,7], [5,6,9])
# def merge_sort(array):
#     if len(array) ...:
#         ...
#     else:
#         return merge(
#             merge_sort(array[...]), # first half 
#             merge_sort(array[...]), # second half
#         )

[2, 4, 5, 6, 7, 9]

In [86]:
my_list= [1]
my_list.append(2)

In [87]:
my_list

[1, 2]

In [91]:
def create_users(username_list, userage_list):
    """
    returns an array of dictionary-like users  
    :Example:
    >>> create_users(["Martin",...], [22,...])
    [{name: Martin, age: 22}, ...]
    """
    return

Help on function create_users in module __main__:

create_users(username_list, userage_list)
    :Example:
    >>> create_users(["Martin",...], [22,...])
    [{name: Martin, age: 22}, ...]

In [99]:
list_number = [4,5,6,12] # list of numbers

list_boolean = [True, False, True] # List of boolean
# list_boolean.append(2)

list_dictionary = [{"name": "Justine"}, {"name": "Helene"}]
list_dictionary.append({"name": "Roger"})
print(list_dictionary)

number = 4
number.append(4)

[{'name': 'Justine'}, {'name': 'Helene'}, {'name': 'Roger'}]

AttributeError: 'int' object has no attribute 'append'

In [108]:
list_of_list = [[0], [4]]
list_of_list[1][0]

4

In [114]:
def create_users(username_list, userage_list):
    """
    returns an array of dictionary-like users  
    :Example:
    >>> create_users(["Martin",...], [22,...])
    [{name: Martin, age: 22}, ...]
    """
    result = []
    for name, age in zip(username_list, userage_list):
        result.append({"name": name, "age": age})
    return result

users = create_users(["George", "Washington", "Bush"], [42,36,28])

In [115]:
dico = {"age": 42}
b = dico
b["age"] = 28

print(dico)

{'age': 28}

In [117]:
# users[0][age] won't work because age is not a variable
users[0]["age"]

42

In [118]:
def filter_threshold(user_list, threshold):
    """
    Get all users with age above this threshold
    """
    result = []
    for user in user_list:
        if user["age"] > threshold:
            result.append(user)
    return result

filter_threshold(users, 30)

[{'name': 'George', 'age': 42}, {'name': 'Washington', 'age': 36}]

In [122]:
# Works but not good
name = "Gregoire"

def say_hello():
    print(f"Hello {name}")
    
say_hello()

Hello Gregoire

In [123]:
# Works but not good
def say_hello():
    print(f"Hello {name2}")

name2 = "Boby"

say_hello()

Hello Boby

In [126]:
# Works 
def say_hello(name):
    print(f"Hello {name}")

name= "Alain"
name2 = "Boby"

say_hello(name2)

Hello Boby

In [127]:
# Works but not good

name = "Alain"

def say_hello():
    name = "George"
    print(f"Hello {name}")

name = "Boby"

say_hello()
print(name)

Hello George
Boby

In [128]:
# Not working

name = "Alain"

def say_hello():
    print(f"Hello {name}")
    name = "George"

name = "Boby"

say_hello()
print(name)

UnboundLocalError: local variable 'name' referenced before assignment

In [129]:
# global

name = "Alain"

def say_hello():
    global name
    print(f"Hello {name}")
    name = "George"

name = "Boby"

say_hello()
print(name)

Hello Boby
George

In [132]:
# return

name = "Alain"

def say_hello():
    name2 = "George"
    print(f"Hello {name2}")
    return name2

name = "Boby"

name = say_hello()
print(name)

Hello George
George

In [133]:
# Prints "Hello Mathieu" not "Hello Eloise"
def say_hello(name):
    print(f"hello {name}")
    
name = "Eloise"
name2 = "Mathieu"

say_hello(name2)

hello Mathieu

In [ ]:
def filter_threshold(user_list, filter_fct):
    """
    Get all users with age above this threshold
    """
    result = []
    for user in user_list:
        if filter_fct(user):
            result.append(user)
    return result

def my_filter(...):
    """
    Filter people with names larger than 4 characters and older than 18
    """
    ...
    
filter_threshold(users, my_filter)

In [160]:
import pandas as pd


df = pd.read_csv("../train.csv")

df["Agex2"] = df.Age.map(lambda age: age * 2)
df["State"] = df.Age.map(lambda age: "mineur" if age < 18 else "majeur")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Agex2,State
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,44.0,majeur
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,76.0,majeur
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,52.0,majeur
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,70.0,majeur
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,70.0,majeur
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,54.0,majeur
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,38.0,majeur
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,NaN,majeur
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,52.0,majeur
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,64.0,majeur

In [158]:
def my_function(name, is_underage, age=24, city="Paris"):
    print(f"Hello {name} you are {age} y.o.")
    if is_underage(age):
        print("mineur")
    else:
        print("majeur")

def is_less_than_18(age):
    return age < 18

def is_less_than_21(age):
    return age < 21

def is_underage(age, city):
    if city == "LA":
        return is_less_than_21(age)
    else:
        return is_less_than_18(age)
    
my_function("Martin", lambda age: age > 18)
# my_function("Noelia", is_underage, 32)
# my_function("John", is_underage, city="Teheran")

Hello Martin you are 24 y.o.
mineur

In [147]:
my_list = []
for i in range(10):
    my_list.append(i * 2)
    
my_list = [i*2 for i in range(10)] # comprehensive list

In [150]:
def is_less_than_18(age):
    if age < 18:
        return "mineur"
    else:
        return "majeur"
my_list = [ is_less_than_18(user["age"]) for user in users ]
my_list

['majeur', 'majeur', 'majeur']

In [151]:
my_list = [ ("majeur" if user["age"] > 18 else "mineur") for user in users ]
my_list

['majeur', 'majeur', 'majeur']

In [152]:
state = "majeur" if users["age"] > 18 else "mineur"
print(state)

majeur

In [156]:
[ user["name"] for user in users]

['George', 'Washington', 'Bush']

In [ ]:
# comprehensive list
my_list = [ user["name"] for user in users]

# conditional affectation
state = "majeur" if users["age"] > 18 else "mineur"

# lambda function
func = lambda x: x * 2

### Next things to come

* Python environement
* Object Oriented Programing
* Tests

In [168]:
# Install modules in the command line interface
pip install --user virtualenv
# Create a list of installed external modules
pip freeze > requirements.txt
# Install a list of external modules
pip install –r requirements.txt
# Create a virtual env
python -m venv .env
# Activate / Deactivate environment
source .env/bin/activate
deactivate

pip install --user selenium

In [169]:
from MyPackage.module1 import say_hello

say_hello()

Hello

In [185]:
class Person:
    def __init__(self, prenom, location="Paris"):
        self.first_name = prenom
        self.last_name = "Gregovia"
        self.location = location
    
    def say_hi(self):
        print(f"Hello my name is {self.first_name}")

    def greetings(self, other):
        """
        take one parameter : other
        prints Hello {the other's firstname}, my name is {my firstname}
        """
        assert type(other) is Person, "other should be a person"
        print(f"Hello {other.first_name} my name is {self.first_name}")
        
    def __repr__(self):
        return self.first_name
    
one_person = Person("Gloria")
second_person = Person("Melina", "Lyon")

one_person.say_hi()
second_person.say_hi()
one_person.greetings(second_person)
print(one_person.first_name)
print(second_person.first_name)
print(second_person.location)

print(one_person)

Hello my name is Gloria
Hello my name is Melina
Hello Melina my name is Gloria
Gloria
Melina
Lyon
Gloria

In [189]:
import numpy as np
from functools import total_ordering

@total_ordering
class Car:
    """
    - brand: str
    - speed: float (default 0)
    - position: (default [0, 0])
    - direction: (default [1, 0])
    
    methods:
    - accelerate: add one to the speed
    - stop: speed = 0
    - run: position += direction -> we will need numpy for this part
    - turn: direction turn 90° clockwise -> we will need numpy
    """
    def __init__(self, brand, speed=0, position=np.array([0,0]), direction=np.array([1,0])):
        self.brand = brand
        self.speed = speed
        self.position = position
        self.direction = direction
    def accelerate(self):
        self.speed += 1
    def stop(self):
        self.speed = 0
    def run(self):
        self.position += self.direction
    def turn(self):
        self.direction = np.array([[0,1],[-1,0]]).dot(self.direction)
    def __repr__(self):
        return str(self.position)
    def __lt__(self, other):
        return self.speed < other.speed
    def __eq__(self, other):
        return self.speed == other.speed

car1 = Car("Maybach")
for i in range(10):
    car1.run()
    if i % 3 == 0:
        car1.turn()
    print(car1)

<__main__.Car object at 0x000002A89234EC18>
<__main__.Car object at 0x000002A89234EC18>
<__main__.Car object at 0x000002A89234EC18>
<__main__.Car object at 0x000002A89234EC18>
<__main__.Car object at 0x000002A89234EC18>
<__main__.Car object at 0x000002A89234EC18>
<__main__.Car object at 0x000002A89234EC18>
<__main__.Car object at 0x000002A89234EC18>
<__main__.Car object at 0x000002A89234EC18>
<__main__.Car object at 0x000002A89234EC18>

In [194]:

def uppercase(func):
    print("start anotation")
    def new_function(name):
        new_name = name.upper()
        return func(new_name)
    return new_function

@uppercase
def say_hi(name):
    print(f"hello {name}")
    
say_hi("Luc")
say_hi("James")
say_hi("John")
say_hi("Bobby")

start anotation
hello LUC
hello JAMES
hello JOHN
hello BOBBY

In [206]:
class Person:
    def __init__(self, prenom, location="Paris"):
        self.first_name = prenom
        self.last_name = "Gregovia"
        self.location = location
        # add an account for each Person
        self.account = Account()
        
    def __repr__(self):
        return self.first_name
    
class Account:
    """
    - balance (default 1000)
    
    methods
    - withdraw(amount) withdraw this amount to balance
    - deposit(amount) add this amount to balance
    """
    nb_of_accounts = 0
    def __init__(self, balance=1000):
        self.id = Account.nb_of_accounts
        self.__balance = balance
        Account.nb_of_accounts += 1
        
    def balance(self):
        return self.__balance
    
    def withdraw(self, amount):
        assert condition, "Not enough money on the account"
        self.__balance -= amount
    
    def deposit(self, amount):
        self.__balance += amount
        
    def __repr__(self):
        return f"id: {self.id} - balance : {self.__balance}"

someone = Person("Elisa")
someone_else = Person("Gaby")
print(someone.account)
print(someone_else.account)

# someone.account.balance = 50
# someone.account.__balance -= 50

id: 0 - balance : 1000
id: 1 - balance : 1000

In [212]:
import unittest

class AccountTestCase(unittest.TestCase):
    def setUp(self):
        self.account = Account(2000)
    def testBalanceIsOk(self):
        self.assertEqual(self.account.balance(), 2000)
    def testBasicWithdrawal(self):
        self.account.withdraw(200)
        self.assertEqual(self.account.balance(), 1800)
    def testWithdrawTooMuch(self):
        with self.assertRaises(AssertionError):
            self.account.withdraw(1000000)

unittest.main(argv=['first-arg-is-ignored'], exit=False)

..F
======================================================================
FAIL: testWithdrawTooMuch (__main__.AccountTestCase)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-212-624fabfbd2a8>", line 13, in testWithdrawTooMuch
    self.account.withdraw(1000000)
AssertionError: AssertionError not raised

----------------------------------------------------------------------
Ran 3 tests in 0.010s

FAILED (failures=1)

In [216]:
with open("list_users.txt", "a") as f:
    f.write("bonjour")

In [218]:
with open("list_users.txt", "r") as f:
    print(f.read())

bonjour

In [223]:
import pandas as pd

df = pd.read_csv("../train.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [228]:
import re

text = "Bonjour my number is 0637618981"

re.findall(".+", text) # any character at least one time
re.findall(".*", text) # any character from zero to any time
re.findall("[0-9]{10}", text) # 10 numbers

re.sub("[0-9]{10}", "[anonymous_number]", text) # 10 numbers

'Bonjour my number is [anonymous_number]'

In [ ]:
https://github.com/komi24/coursBNP13012020